//NodeModules
@import "~bootstrap/scss/bootstrap.scss";
@import "./vars.scss";

@import '~@fontsource/montserrat/index.css'; 
@import '~@fontsource/montserrat/700.css';

// https://flynn.boolean.careers/exercises/api/array/music
//Reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $main-font;
    color: $text-color;
    background-color: $bg-main;
}